In [16]:
#creating empty dictionary
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [17]:
#creating empty dictionary
empty_dict=dict()
print(empty_dict)

{}

In [2]:
student={"name":"Gajalakshmi","age":23,"grade":99}
print(student)

{'name': 'Gajalakshmi', 'age': 23, 'grade': 99}

In [7]:
#accessing dictionary method 1
print(student['name'])
print(student['grade'])

#accessing dictionary method 2
print(student.get('age'))
print(student.get('lastname','G'))

Gajalakshmi
99
23
G

In [8]:
print(student)

{'name': 'Gajalakshmi', 'age': 23, 'grade': 99}

In [12]:
#modifying dictionary elements
student['name']="alice"
print(student)
#adding new elemwnts
student['address']='india'
print(student)

{'name': 'alice', 'age': 23, 'grade': 99, 'address': 'india'}
{'name': 'alice', 'age': 23, 'grade': 99, 'address': 'india'}

In [13]:
#deleting the elements
del student['name']
print(student)

{'age': 23, 'grade': 99, 'address': 'india'}

In [20]:
#dictionary methods
print(student.keys())
print(student.values())

dict_keys(['age', 'grade', 'address'])
dict_values([23, 99, 'india'])

In [21]:
#accessing keys,value
for key,value in student.items():
    print(key)
    print(value)

age
23
grade
99
address
india

In [ ]:
#dictionary items
items=student.items()
print(items)

dict_items([('age', 23), ('grade', 99), ('address', 'india')])

In [23]:
#shallow copy
student_copy=student
print(student)
print(student_copy)

{'age': 23, 'grade': 99, 'address': 'india'}
{'age': 23, 'grade': 99, 'address': 'india'}

In [ ]:
student['name']='bob' #update new name in student

In [32]:
print(student)
print(student_copy)

{'age': 23, 'grade': 99, 'address': 'india', 'name': 'bob'}
{'age': 23, 'grade': 99, 'address': 'india', 'name': 'bob'}

In [24]:
student['name']='Alice'
print(student)

{'age': 23, 'grade': 99, 'address': 'india', 'name': 'Alice'}

In [27]:
#can iterate over keys,values and items
for key in student.keys():
    print(key)

age
grade
address
name

In [29]:
for value in student.values():
    print(value)

23
99
india
Alice

In [34]:
squares={x:x**2 for x in range(5) if x%2==0}
print(squares)

{0: 0, 2: 4, 4: 16}

In [41]:
number=[1,2,2,3,3,4,4,4,5,5,6,7,8,2]
frequency={}
for num in number:
    if num in frequency:
        frequency[num]=+1
    else:
        frequency[num]=1
print(frequency)

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1}

In [44]:
#merge dictionary
a={'name':'gaja','age':23}
b={'address':'india'}
merge_dict={**a,**b}
print(merge_dict)

{'name': 'gaja', 'age': 23, 'address': 'india'}